{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}International Connections - Error{% endblock %}


{% block content %}
            <!--Page Content-->
            <div id="page-content">
                <section class="container">
                    <header>
                        <h1 class="page-title">404</h1>
                    </header>
                    <div class="block">
                        <div id="title-404">
                            <aside>404
                                <img src="assets/img/scissors.png" alt="">
                            </aside>
                            <h2>Page Not Found</h2>
                            <p>Unfortunately the page you are looking for is not here.<br>You can go back or check these featured items:</p>
                        </div>
                    </div>
                </section>
            </div>
{% endblock %}

{% block footer %}

        <!--Page Footer-->
        <footer id="page-footer">
            <div class="inner">
                <div class="footer-bottom">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
                          <br>
                          (C) Developed by <a href="https://www.tecnodesign.com.py" target="_blank"><img src="{% static 'dist/img/TD.png' %}" width="110px"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
                          <br>
                          <a href="https://www.elestudio.com.py" target="_blank"><img src="{% static 'dist/img/logo_azul.png' %}" width="70px"></a>
                        </div>
                      </div>
                    </div>
                </div>
                <!--/.footer-bottom-->
            </div>
        </footer>
        <!--end Page Footer-->
        {% endblock %}