{% extends 'base.html' %}
{% load staticfiles %}

 {% block body %}<body class="page-subpage page-submit navigation-off-canvas" id="page-top"  onload="onload()">{% endblock %}
{% block content %}
{% endblock %}

{% block extrascripts %}
    <script> 
    function onload(codigo){ 
        var codigo = codigo;
        swal({
            title: "",
            text: "Gracias por tu respuesta.",
            type: "success",
            showCancelButton: false, // There won't be any cancel button
            showConfirmButton: false // There won't be any confirm button
            });
        window.setTimeout(function(){

            // Move to a new location or you can do something else
            window.location="/";

        }, 5000);
        
    }
    </script>

    <script src="{% static 'sweetalert-master/dist/sweetalert.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'sweetalert-master/dist/sweetalert.css' %}">
{% endblock %}


{% block footer %}
{% endblock %}